@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* nav part */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 135px;
    padding-bottom: 0px;
}
.nav-title{
    display: flex;
    gap: 16px;
    align-items: center;
}
.travel{
    color: rgb(255, 84, 0);
}
#home a{
    color: rgb(255, 84, 0);
}
.nav-text ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 2.75rem;
}
.nav-text ul li a{
    text-decoration: none;
    font-size: 18px;
font-weight: 400;
color: rgb(66, 66, 71);
}
.nav-title img{
    width: 48px;
    height: 56.01px; 
}
.hero{
    width: 201px;
    font-size: 36px;
font-weight: 800;
}

/* bannar part */
.bannar{
    max-width: 1170px;
height: 500px;
border-radius: 16px;
background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-position: cover;
    justify-items: center;
    margin: 0 auto;
}
.bannar-title{
    font-size: 4rem;
font-weight: 800;
color: rgb(255, 255, 255);
padding-top: 106px;
margin-bottom: 0px;
}
.bannar-description{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);    
}

.search-container{
    max-width: 800px;
height: auto;
    display: flex;
    padding: 16px;
    margin-top: 48px;
    gap: 24px;
    background-color:rgba(255, 255, 255, 0.3) ;
}
.search-box{
    display: flex;
    max-width: 200px;
height: 52px;
font-size: 1rem;
font-weight: 400;
color: rgba(19, 19, 24, 0.5);
background: rgb(255, 255, 255);
border-radius: 8px;
}
.input-field{
    font-size: 1rem;
font-weight: 400;
border: none;
border-radius: 8px;
color: rgba(19, 19, 24, 0.5);
}
.btn{
    width: 174px;
height: 52px;border-radius: 8px;
font-size: 16px;
font-weight: 700;
color: rgb(255, 255, 255);
border: none;
background: rgb(255, 84, 0);
}

/* shared style */
.description{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    color: rgba(19, 19, 24, 0.7)

}

/* popular tours */

.tour{
    display: flex;
    margin: 100px 135px;
    gap: 53px;
}
.tour-details{
    max-width: 577px;
}
.tour-title{
    font-size: 40px;
    font-weight: 800;
    color: rgb(19, 19, 24);
}
.tour-btn{
    margin-top: 32px;
}
.tour-img{
    max-width: 540px;
height: 550px;
border-radius: 16px;

background: url(111);
}

/* destination */

 .destination{ 
     margin: 100px 135px; 
} 
.destination-title{
font-size: 40px;
font-weight: 800;
text-align: center;
margin-bottom: 0;
color: rgb(19, 19, 24);
}
.destination-description{
    font-size: 16px;
font-weight: 400;
    text-align: center;
}
.destination-img{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
 }
.maldives{
    width: 550px;
height: 300px;
border-radius: 16px;
background: url("../Images/Rectangle\ 5.png");
font-size: 28px;
font-weight: 800;
text-align: center;
background-repeat: no-repeat;
color: rgb(255, 255, 255);
}
.indonesia{
    width: 545px;
    height: 300px;
    border-radius: 16px;
    background: url("../Images/Rectangle\ 8.png");
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);

}
.srilanka{
    width: 358px;
height: 286px;
border-radius: 16px;
font-size: 28px;
font-weight: 800;
color: rgb(255, 255, 255);
text-align: center;
background: url("../Images/Rectangle\ 6.png");
background-repeat: no-repeat;
}
.america{
    width: 448px;
height: 286px;
border-radius: 16px;
font-size: 28px;
font-weight: 800;
text-align: center;
color: rgb(255, 255, 255);
background: url("../Images/Rectangle\ 7.png");
background-repeat: no-repeat;
}
.kashmir{
    width: 291px;
height: 286px;
border-radius: 16px;
font-size: 28px;
font-weight: 800;
color: rgb(255, 255, 255);
text-align: center;
background-image: url("../Images/Rectangle\ 9.png");
background-repeat: no-repeat;
}
.bangladesh{
    width: 436px;
height: 300px;
border-radius: 16px;
font-size: 28px;
font-weight: 800;
color: rgb(255, 255, 255);
text-align: center;
background: url("../Images/Rectangle\ 11.png");
background-repeat: no-repeat;
}
.bandarban{
    width: 650px;
height: 300px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
    background: url("../Images/Rectangle\ 10.png");
    background-repeat: no-repeat;
    } 
.text{
    padding: 110px 0px;
} 
